body {
    font-family: "Fira Sans", Arial, sans-serif, Helvetica, monospace;
    margin: 0px;
    color: #141414;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.subtitulo {
    font-family: IBM Plex Serif;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

@media(max-width:800px) {

    .subtitulo {
        font-size: 3rem;

    }
}

@media(max-width:400px) {

    .subtitulo {
        font-size: 2.5rem;

    }
}